@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    height: auto;
    margin: 0px;
    border: 10px solid rgb(240, 117, 51) ;
}

header {
    background-color: rgba(87, 87, 87, 0.538);
    margin: 0px;
    padding: 20px;
    width: 100%;
    text-align: center;
    border: 5px dashed rgba(255, 0, 0, 0.359);
}
h1, h3 {
    margin: 0px;
}
section {
    display: -webkit-flex;
    display: flex;
    
}
article{
    background-color: bisque;
}
article > p {
    width: 80%;
    height: auto;
    padding: 100px;
}
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: rgb(55, 55, 55);
    margin: 0px;
    padding: 5px;
    text-align: center;
    
}
nav > a {
    color: aliceblue;
}

article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
}
footer > p {
    margin: 0px;
    text-align: center;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

}
@media (max-width: 600px) {
    header {
        width: 100%;
        height: auto;
    }
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

}