/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width : 600px) {
    header {
        width: 100%;
        height: auto;
    }
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

/* Layout do Cabeçalho */
header {
    background-color: #07256b;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display:inline;
    margin: 0 15px;
    
    
}

header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Layout da Barra Lateral */
aside {
    background-color: #7c9b17;
    padding: 15px;
    width: 200px;
    float: left;
    border-radius: 30px;
}

/* Layout do Conteúdo Principal */
main {
    margin-left: 220px; /* Ajusta o espaço para a barra lateral */
    padding: 15px;
}

/* Layout do Rodapé */
footer {
    background-color: #07256b;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    clear: both;
}
.circle1 {
    width: 5px;
    height: 5px;
    background-color: blue;
    border-radius: 50%;
    padding: 5px;
    display:inline-block;
    margin-bottom: 1px;
    margin-top: 1px;
    align-items: normal;
}
.circle2 {
    width: 5px;
    height: 5px;
    background-color: blue;
    border-radius: 50%;
    padding: 5px;
}
