@charset "UTF-8";

body {
    margin: 0px;
}

header {
    background: rgb(58,180,86);
    background: linear-gradient(180deg, rgba(58,180,86,1) 0%, rgba(24,98,32,1) 59%);
    height: 100px;
    
}

header h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0px;
    padding: 22px;
}

nav {
    background-color: rgb(13, 55, 17) ;
    padding: 3px;
    text-align: center;
    
}

nav > a {
    color: white;
    padding: 35px;
    text-decoration: none;
    font-family: sans-serif;
}

nav > a:hover {
    color: brown;
    border: 5px solid red

}